.search {
    outline: none;
    border-radius: 5px;
    font-size: .8rem;
    padding: 0 1rem;
    min-width: 15vw;
    margin: auto .5rem !important;
    min-height: 2.3rem;
    @apply bg-slate-50 text-slate-800 inline-block;
}