.container {
    height: auto;
    min-height: 40vh;
    padding: 10vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFF;
    flex-direction: column;
    align-items: center;
}

.booksContainer {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    margin: 20px 0;
}